/* VARIABLES */
:root {
	/* CSS HEX */
	--bdazzled-blue: #3d5a80ff;
	--dark-sky-blue: #98c1d9ff;
	--light-cyan: #e0fbfcff;
	--burnt-sienna: #ee6c4dff;
	--gunmetal: #293241ff;
	--light-gray: rgb(200, 200, 200);
	--forest-green: rgb(35, 120, 35);
}

/* UTILITY CLASSES */

.sr-only {
	visibility: hidden;
	height: 0;
	width: 0;
}

/* GLOBAL STYLES */

body {
	display: flex;
	flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  color: var(--burnt-sienna);
}

h1 > a {
	color: var(--burnt-sienna);
	text-decoration: none;
}

h2 {
	font-size: 2rem;
	color: var(--forest-green);
}

h3 {
	font-size: 1.5rem;
	color: var(--forest-green);
}

main{
	width: 100%;
	height: 100%;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
	padding: 3.5rem;
	background-color: var(--light-gray);
}

footer > p {
	color: var(--gunmetal	);
}