.introduction {
  text-align: center;
  width: 100%;
  padding: 5rem 1rem;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navigation {
  width: 100%;
  background-color: var(--burnt-sienna);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-grid {
  display: grid;
  grid-template: 
    "a b c"
  ;
  place-items: center;
  gap: 2rem;
  padding: 5rem 2rem;
}

.link-grid-link {
  width: 14rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gunmetal);
  transition: all 0.25s ease-in-out;
}

.link-grid-link:hover {
  transform: scale(1.10);
}

.link-grid-link > a {
  font-size: 1.5rem;
  text-align: center;
  color: var(--light-gray);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .link-grid {
    grid-template: 
      "a b"
    ;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .link-grid-link {
    width: 12rem;
    height: 12rem;
  }

  .link-grid-link > a {
    font-size: 1.25rem;
  }
}