@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-200%);
  }

  25% {
    transform: translateX(-200%);
  }
  
  50% {
    transform: translateX(45%) scaleX(75%);
  }

  100% {
    transform: translateX(0%) scaleX(100%);
  }
}

@keyframes slideToRight {
  0%{
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-200%);
  }

  50% {
    transform: translateX(150%) scaleX(75%);
  }

  100% {
    transform: translateX(0%) scaleX(100%);
  }
}

.session-timer-container {
  width: 100%;
  height: 30vh;
  padding: 1rem;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.session-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: var(--gunmetal);
}

.session-timer > p {
  font-size: 1.5rem;
}

p.session-time {
  font-size: 2.25rem;
  color: var(--forest-green);
}

.create-countdown {
  width: 100%;
  height: 55vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--burnt-sienna);
}

.create-countdown > h3 {
  color: var(--gunmetal);
}

.countdown-creator-container {
  background-color: var(--gunmetal);
  width: 50vw;
  min-width: 600px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.countdown-introduction {
  width: 75%;
  text-align: center;
  line-height: 1.5;
}

.countdown-current-date {
  color: var(--burnt-sienna);
  font-size: 1.5rem;
  text-align: center;
}

.countdown-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 80%;
  padding: 1rem;
}

.countdown-name-input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.countdown-datetime-inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.countdown-datetime-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 49%;
}

.countdown-name {
  color: var(--forest-green);
  font-size: 1.25rem;
}

.countdown-label {
  color: var(--forest-green);
  font-size: 1.25rem;
}

.countdown-input {
  background-color: var(--light-gray);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.hidden {
  transform: translateX(-200%);
}

.slide-in-from-left {
  animation: slideFromLeft 2s;
}

.slide-out-right {
  animation: slideToRight 2s;
}